<?xml version="1.0" encoding="utf-8"?>
<!--
Web.config file for AppAiCorp.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <appSettings>
    <add key="PostUrl" value="https://mms.payvector.net/Pages/PublicPages/PaymentForm.aspx" />    
    <add key="MerchantId" value="Progra-7702818" />
    <add key="MerchantPassword" value="G6CH6Z90I2" />
    <add key="PreSharedKey" value="5XNm04UE0/EaXDSeKa4Fw29hTzieAl32uO4=" />
    <add key="CallBackUrl" value="http://www.somedomain.com/callback.php" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies />
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>